<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-sm">
        <form
          class="form-horizontal"
          [formGroup]="employeeForm"
          (ngSubmit)="onSubmit(formDirective)"
          #formDirective="ngForm"
        >
          <h1>Registro de empleados</h1>

          <label>Tipo de identificacion:</label>
          <select formControlName="idType" >
            <option *ngFor="let dato of idType">
              {{ dato }}
            </option>
          </select>
          <br />
          <label>Numero de identificacion:</label>
          <input
            type="text"
            class="form-control"
            formControlName="id"
            id="id"
          />

          <label>Nombre:</label>
          <input type="text"
            formControlName="name"
          class="form-control" id="name" />

          <label>Apellido:</label>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            id="lastName"
          />
          <br />
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Empleados</h2>

    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let employee of employeesObject; let i = index"
      >
        {{ employee.id }}

        {{ employee.name }}
        {{ employee.lastName }}
        <label
          ><input
            type="checkbox"
            name="lockStatus"
            [checked]="employee.lockStatus"
          />
          Bloqueado</label
        >
        <button (click)="update(i)">Guardar</button>
      </li>
    </ul>
  </div>
</div>
